:root {
  --main-bg-color:linear-gradient(#F5FAFF, #D7E9FF);;
  --default-color: #3171C1;
  --accent-color: #41D1AF;
  --main-lg: linear-gradient(#41D1AF, #3171C1);
  --main-headline-color:#06004A;
  --main-text-color: #202832;
  --lable-color: #425667;
  --input-border-color: #B7CAE3;
  --default-hover-color:#1E5BA6;
  --footer-size: 145px;
  --error-color: #E23636;
  --disable-color: #AFAFAF;
}

.line {
padding-top: 6px;
}

.main-container {
  background: var(--main-bg-color);
}

.content {
  min-height: calc(100vh);
  max-height: 100%;
}

.wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Медиа-запрос для больших экранов */
@media (min-width: 1170px) {
  .wrapper {
      max-width: 1170px;
  }
}

.header-wrapper {
  background-color:white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 16px 10px 16px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__navbar {
  display: flex;
}

.header__navitem {
  float: left;
  color: var(--main-headline-color);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  align-self: center;
}

.header-logo {
}


.footer-wrapper{
  background-color:#001E3E;
  padding: 10px 16px 10px 16px;
  height: var(--footer-size);
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
}

.footer-email {
  color: white;
  font-size: 1rem;
  padding-bottom: 10px;
}

.footer-contacts {
  color: white;
}

.button {
  font-weight: 500;
  padding: 15px 20px 15px 20px;
  margin: 0px 5px 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  flex-basis: content;
}

.button_disable {
  background-color: var(--disable-color);
  color: white;
}

.button_default{
  background-color: var(--default-color);
  color: white;
}

.button_default:hover, 
.button_lite:hover {
  background-color: var(--default-hover-color);
}

.button_dark-mode{
  color: white;
  border: 2px solid white;
  padding: 13px 18px;
}

.button_dark-mode:hover {
  background-color: var(--default-hover-color);
  border: none;
  padding: 15px 20px;
}

.button_lite{
  color: #3171C1;
  border: 2px solid var(--default-color);
  padding: 13px 18px;
}

.wrapper_form {
  max-width: 30%;
  margin: auto;
}

/* Медиа-запрос для больших экранов */
@media (max-width: 1170px) {
  .wrapper_form {
      max-width: 40%;
  }
}

/* Медиа-запрос для больших экранов */
@media (max-width: 480px) {
  .wrapper_form {
      max-width: 90%;
  }
}
.main-form {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.main-form__headline {
  font-size: 2em;
  font-weight: bold;
  color: var(--main-headline-color);
  display: flex;
  flex-direction: column;
}

.main-form__info {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
  color: var(--main-headline-color);
  padding-top: 20px;
}

.main-form__text {
  padding-right: 8px;
  padding-bottom: 8px;
}

.main-form__auth-link {
  font-weight: bold;
  color: var(--default-color);
  text-decoration: none;
}

.main-form__auth-link:hover {
  text-decoration:underline;
  color: var(--default-hover-color);
}

.main-form__label {
  font-size: 0.9em;
  color: var(--lable-color);
  padding-top: 15px;
  padding-bottom: 8px;
}

.main-form__input {
  font-size: 1em;
  padding: 12px;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--input-border-color);
  border-width: 2px;
}

.main-form__input:focus {
  outline: 2px solid var(--input-border-color);
}

.eye {
  height: 1.5em;
}

.main-form__password-fuild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--input-border-color);
  padding-right: 12px;
  padding-left: 12px;
  border-width: 2px;
}

.main-form__password-fuild__input {
  font-size: 1em;
  width: 90%;
  border: none;
  padding-bottom: 12px;
  padding-top: 12px;
  outline: none;
}

.main-form__input_error {
  border-color: var(--error-color);
}

.main-form__input:focus {
  border: none;
}

.main-form__bottom_space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.main-form__pass-link {
  font-size: 0.8;
  font-weight: 500;
  color: var(--main-headline-color);
  text-decoration: none;

}

.main-form__pass-link:hover {
  text-decoration: underline;
}

.main-form__bottom_center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
}

.header__navitem_login {
  margin-left: 4px;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, var(--accent-color), var(--default-color)) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  padding: 8px 16px;
}


.header__navitem_login:hover {
  background: linear-gradient(to right, var(--accent-color), var(--default-color)) border-box;
  border-radius: 50em;
  color: white;
  font-weight: 500;
  transition: color 0.5s, transform 0.5s;
}

.main-form__error-message {
  padding-top: 5px;
  font-size: 0.9em;
  color: var(--error-color);
}

input::placeholder {
  color: #212529;
  opacity: 0.5;
}