:root {
  --main-bg-color:linear-gradient(#F5FAFF, #D7E9FF);;
  --default-color: #3171C1;
  --accent-color: #41D1AF;
  --main-lg: linear-gradient(#41D1AF, #3171C1);
  --main-headline-color:#06004A;
  --main-text-color: #202832;
  --lable-color: #425667;
  --input-border-color: #B7CAE3;
  --default-hover-color:#1E5BA6;
  --footer-size: 145px;
  --error-color: #E23636;
  --disable-color: #AFAFAF;
  --navitem--focus--color: #CBE2F6;
}

body {
  box-sizing: border-box;
  background: var(--main-bg-color);
}

.line {
padding-top: 6px;
}

.content {
  min-height: 100%;
  background: var(--main-bg-color);
}

.wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Медиа-запрос для больших экранов */
@media (min-width: 1170px) {
  .wrapper {
      max-width: 1170px;
  }
}

.header-wrapper {
  background-color:white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 16px 10px 16px;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__navbar {
  display: flex;
}

.header__navitem {
  float: left;
  color: var(--main-headline-color);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  align-self: center;
  font-weight: 500;
}

.header__navitem_login {
  margin-left: 4px;
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, var(--accent-color), var(--default-color)) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  padding: 8px 16px;
}

.header__navitem_login:hover {
  background: linear-gradient(to right, var(--accent-color), var(--default-color)) padding-box,
  linear-gradient(to right, var(--accent-color), var(--default-color)) border-box;
  color: white;
  border-radius: 50em;
  transition: color 0.3s, transform 0.5s;
}

.header-logo {
}


.footer-wrapper{
  background-image: url("../img/main/back.png");
  padding: 10px 16px 10px 16px;
  height: var(--footer-size);
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
}

.footer-email {
  color: white;
  font-size: 1rem;
  padding-bottom: 10px;
}

.footer-contacts {
  color: white;
}

.button {
  font-weight: 500;
  padding: 15px 20px 15px 20px;
  margin: 0px 5px 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  flex-basis: content;
  align-self: flex-start;
}

.button_disable {
  background-color: var(--disable-color);
  color: white;
}

.button_default{
  background-color: var(--default-color);
  color: white;
}

.button_default:hover, 
.button_lite:hover {
  background-color: var(--default-hover-color);
}

.button_dark-mode{
  color: white;
  border: 2px solid white;
  padding: 13px 18px;
}

.button_dark-mode:hover {
  background-color: var(--default-hover-color);
  border: none;
  padding: 15px 20px;
}

.button_lite{
  color: #3171C1;
  border: 2px solid var(--default-color);
  padding: 13px 18px;
}

.wrapper_form {
  max-width: 30%;
  margin: auto;
}

/* Медиа-запрос для больших экранов */
@media (max-width: 1170px) {
  .wrapper_form {
      max-width: 40%;
  }
}

/* Медиа-запрос для больших экранов */
@media (max-width: 480px) {
  .wrapper_form {
      max-width: 90%;
  }
}
.main-form {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 50px 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.main-form__headline {
  font-size: 2em;
  font-weight: bold;
  color: var(--main-headline-color);
  display: flex;
  flex-direction: column;
}

.main-form__info {
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
  color: var(--main-headline-color);
  padding-top: 20px;
}

.main-form__text {
  padding-right: 8px;
  padding-bottom: 8px;
}

.main-form__auth-link {
  font-weight: bold;
  color: var(--default-color);
  text-decoration: none;
}

.main-form__auth-link:hover {
  text-decoration:underline;
  color: var(--default-hover-color);
}

.main-form__label {
  font-size: 0.9em;
  color: var(--lable-color);
  padding-top: 15px;
  padding-bottom: 8px;
}

.main-form__input {
  font-size: 1em;
  padding: 12px;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--input-border-color);
  border-width: 2px;
}

.main-form__input:focus {
  outline: 2px solid var(--input-border-color);
}

.eye {
  height: 1.5em;
}

.main-form__password-fuild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--input-border-color);
  padding-right: 12px;
  padding-left: 12px;
  border-width: 2px;
}

.main-form__password-fuild__input {
  font-size: 1em;
  width: 90%;
  border: none;
  padding-bottom: 12px;
  padding-top: 12px;
  outline: none;
}

.main-form__input_error {
  border-color: var(--error-color);
}

.main-form__input:focus {
  border: none;
}

.main-form__bottom_space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.main-form__pass-link {
  font-size: 0.8;
  font-weight: 500;
  color: var(--main-headline-color);
  text-decoration: none;

}

.main-form__pass-link:hover {
  text-decoration: underline;
}

.main-form__bottom_center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
}

.main-form__error-message {
  padding-top: 5px;
  font-size: 0.9em;
  color: var(--error-color);
}

input::placeholder {
  color: #212529;
  opacity: 0.5;
}




/* ----------APP---------- */ 

.app-wrapper {
  display: grid;
  grid-template-columns: 200px 3fr;
  grid-template-rows: 100%;
  align-items: stretch;
  justify-items: stretch;
  height: 100%;
}

.workspace {
  max-width: 100%;
  overflow-y: scroll;
}

.app-sidebar {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 64px);
  margin-top: 32px;
  margin-bottom: 32px;
  width: 200px;
  align-items: center;
  border-right: 2px solid #9DBAE0;
}

.logo_app {
  margin: 0 auto;
}

.app-sidebar__head {
  display: grid;
  padding-top: 20px;
}

.app-sidebar__head__user {
  margin: auto;
}

.app-sidebar__head__user__photo {
  background: white;
  padding: 3px;
  width: 75px;
  height: 75px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), var(--main-lg);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.app-sidebar__head__loading-button {
  font-family: "Roboto Flex", sans-serif;
  color: white;
  margin: 15px auto;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 2.2em;
  padding-left: 2.2em;
  background: var(--main-lg);
  border-radius: 100px;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.app-sidebar__head__loading-button:hover {
  box-shadow: inset 0px 1px 5px #dee5ff;
}

.app-sidebar__head__loading-button:active {
  box-shadow: inset 0px 1px 15px #19414f;
}

.app-sidebar__head__loading-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(219, 219, 255, 0.4),
    transparent
  );
  transition: all 650ms;
}

.app-sidebar__head__loading-button:hover:before {
  left: 100%;
}
.app-sidebar-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding-top: 32px;
  margin: 0;
}

.app-sidebar__navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.app-sidebar__navbar_help-blok{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-sidebar__navbar_help-blok__line {
  border-top: 2px solid #9DBAE0;
  margin: 10px 20px;
}

.app-sidebar__navbar__item {
  display: flex;
  text-decoration: none;
  align-items: center;

  margin: 0 22px 0 0;
  padding-top: 12px;
  padding-bottom: 12px;

  color: var(--main-headline-color);
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 0 20px 20px 0px;
}

.app-sidebar__navbar__item__title {
}

.app-sidebar__navbar__item__icon {
  width: 20px;
  max-height: 20px;
  padding-left: 30px;
  padding-right: 15px;
}
.app-link {
  text-decoration: none;
}

.app-sidebar__navbar__item_active {
  display: flex;
  text-decoration: none;
  align-items: center;

  margin: 0 22px 0 0;
  padding-top: 12px;
  padding-bottom: 12px;

  font-weight: 800;
  font-size: 0.9rem;
  border-radius: 0 20px 20px 0px;

  color: var(--default-hover-color);
  background-color: var(--navitem--focus--color);
}


/* ----------APP-PROJECTS---------- */ 

.project-list-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  order: -1;
  margin: 32px;
}

.project-list__item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-top: 8px;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(36, 35, 68, 0.4);
  width: 90%;
  min-width: 400px;
}

.project-list__item:hover {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(36, 35, 68, 0.3);
  transition: transform 0.2s;
}

.project-list__item__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-headline-color);
}

.project-list__item__options {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.project-list__item__options__status {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  padding-right: 40px;
}

.project-list__item__options__status__text {
  padding-right: 10px;
  font-size: 0.9em;
  color: var(--main-text-color);
  font-weight: 500;
}

.project-list__item__options__status__icon {
  height: 25px;
  width: 25px;
}

.project-list__item__options__menu {
  height: 5px;
}




/* ----------APP-PROJECT-PAGE---------- */ 

.project-config-inner-wrapper {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(36, 35, 68, 0.4);
  padding: 20px;
}

.project-config-container {
  height: 93%;
  padding: 22px;
}
.project-config-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(3, 0.5fr);
  gap: 10px;
  min-height: 100%;
  min-width: 936px;
}

.project-config-inner-wrapper_data {
  grid-column: span 1;
  grid-row: span 1;
}

.project-config-inner-wrapper_processing {
  grid-column: span 1;
  grid-row: span 1;
}

.project-config-inner-wrapper_vis {
  grid-column: span 2;
  grid-row: span 2;
}

.project-config__title {
  font-size: 1.1em;
  font-weight: 700;
  color: var(--main-headline-color);
}

.project-config__content{
  padding-top: 5px;
}

.select-option-wrapper{
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 12px);
  gap: 8px;
}

.select-option__label {
  font-size: 0.9em;
  padding: 5px;
  color: var(--main-headline-color);
  font-weight: 500;
}

.select-option__select-wrapper select.select-option__select {
  font-size: 0.8em;
  width: 200px;
  border: 2px solid var(--input-border-color);
  padding: 8px 30px 8px 12px;
  border-radius: 10px;
  cursor: pointer;

  -webkit-appearance : none;
  background-image: url("../img/forms/select-arrow.svg");
  background-repeat  : no-repeat;
  background-position: right 12px center;
  background-size: 12px 12px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.select-option__select__option {
}

.project-config__content__data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  grid-template-areas: 
  "info info ." 
  "info info ." 
  ". . button";
}

.project-config__content__data__info {
  grid-area: info;
  align-self: center;
  justify-self: start;
  font-size: 0.9em;
}

.project-config__content__data__input-wrapper {
  grid-area: button;
  align-self:flex-end;
  justify-self: end;
  width: 100%;
  position: relative;
  margin: 0px 0;
  text-align: center;
}

.project-config__content__data__input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.project-config__content__data__input-button__text {

}

.project-config__content__data__input-button {

}

.project-config__content_processing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  grid-template-areas: 
  "a a ." 
  "a a ." 
  ". . b";
}

.project-config__content_form {
  grid-area: a;
  align-self: center;
  justify-self: start;
}

.project-config__content_processing__button {
  grid-area: b;
  align-self: end;
  justify-self: end;
}

.project-config__content_vis {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: repeat(1, 1fr);
}

.project-config__content_vis-result {
  align-self: center;
  justify-self: center;
}

.grafic-type-button {
  height: 100px;
  width: 100px;
  font-size: 0.7em;
  border-radius: 15px;
  border: none;
}

.grafic-type-button_active {
  height: 100px;
  width: 100px;
  font-size: 0.7em;
  border: none;
}

.project-config__grafic-selector {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  
}

.vis-button {
}

.project-config__grafic-config {
  height: 310px;
}